.chat_outerContainer{
	position:absolute;
	width:100%;
	top:25%;
	margin:auto;
}
.chat_container{
	width:50%;
	height:auto;
	max-width:350.5px;
	margin:auto;
	background:black;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	align-items:flex-start;
}
.chat_container>*{
	height:auto;
}
@media only screen and (max-width:500px){
	.chat_outerContainer{top:0px;background:black;height: 100%}
	.chat_container{
		width:90%;
	}
}
@media only screen and (max-width:400px){
	/*.chat_container{position: absolute;top:0px;}*/
}
@media only screen and (max-width:200px){
	.chat_container{
		min-width:200px;
	}
}